<ul class="list-inline">
  <li>
    <a class="btn btn-default"
       asp-route="External"
       asp-route-provider="Google"
       asp-route-returnUrl="@Model.ReturnUrl">Google</a>
  </li>
  <li>
    <a class="btn btn-default"
       asp-route="External"
       asp-route-provider="Facebook"
       asp-route-returnUrl="@Model.ReturnUrl">Facebook</a>
  </li>
</ul>